{% extends "base.html" %}

{% block content %}
  <img src="{{pet.photo}}" alt="A photo of a {{pet.species}}" width="400px">
  <h3>{{pet.pet_name}}</h3>
  <p>{{pet.pet_age}} {% if pet.pet_age == 1 %}year{% else %}years{% endif %} old {{pet.breed}} {{pet.species}}</p>
  {% if pet.isFixed and pet.gender == "Male" %}
  <p>{{pet.pet_name}} is neutered!</p>
  {% elif pet.isFixed and pet.gender == "Female" %}
  <p>{{pet.pet_name}} is spayed!</p>
  {% elif not pet.isFixed and pet.gender == "Male"%}
  <p>{{pet.pet_name}} is not neutered!</p>
  {% elif not pet.isFixed and pet.gender == "Female"%}
  <p>{{pet.pet_name}} is not spayed!</p>
  {% endif %}
  {% if pet.owner.user.id == user.id %}
  <form action="/pets/{{pet.id}}/update">
    {% csrf_token %}
    <button>Update Pet</button>
  </form>
  <form action="/pets/{{pet.id}}/delete" method="POST">
    {% csrf_token %}
    <button>Delete Pet</button>
  </form>
  <a href="/my-pets/">Back</a>
  {% else %}
  <p><b>Owner: </b><a href="/community/{{pet.owner.id}}">{{pet.owner.first_name}} {{pet.owner.last_name}}</a></p>
  <a href="/pets/">Back</a>
  {% endif %}
{% endblock content %}
