{% extends "base.html" %}

{% block content %}
  <h1>{{member.first_name}}'s Profile</h1>
  <p>Username: {{member.user.username}}</p>
  <p>Phone Number: {{member.phone_number}}</p>
  <p>City: {{member.city}}</p>
  <p>Followers: {{member.followers.count}}</p>
  <p>Following: {{member.following.count}}</p>
  <a href="/community/{{member.id}}/pets">View {{member.first_name}}'s Pets</a>
  {% if request.user.owner != member %}
  <form action="/community/{{member.id}}/follow/" method="POST">
    {% csrf_token %}
    {% if member in request.user.owner.following.all %}
      <button type="submit">Unfollow</button>
    {% else %}
      <button type="submit">Follow</button>
    {% endif %}
  </form>
  {% endif %}
  <a href="/community/">Back</a>
{% endblock content %}
